<?xml version="1.0" encoding="utf-8"?>
<APKEasyTool xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SelectedPathMain>C:\Users\HP\Documents\Modding\1-APK Tool\1-Decompiled APKs\hack</SelectedPathMain>
  <SelectedDexOdexOat />
  <SelectedSmali />
  <PathDec>C:\Users\HP\Documents\Modding\1-APK Tool\1-Decompiled APKs</PathDec>
  <PathCom>C:\Users\HP\Documents\Modding\1-APK Tool\2-Recompiled APKs</PathCom>
  <PathExt>C:\Users\HP\Documents\Modding\1-APK Tool\3-Extracted APKs</PathExt>
  <PathZip>C:\Users\HP\Documents\Modding\1-APK Tool\4-Zipped APKs</PathZip>
  <PathBaksmali>C:\Users\HP\Documents\Modding\1-APK Tool\5-Baksmali</PathBaksmali>
  <PathSmali>C:\Users\HP\Documents\Modding\1-APK Tool\6-Smali</PathSmali>
  <PathPem>C:\Users\HP\Documents\Modding\1-APK Tool\Resources\apkeasytool.pem</PathPem>
  <PathPk8>C:\Users\HP\Documents\Modding\1-APK Tool\Resources\apkeasytool.pk8</PathPk8>
  <PathJksFile />
  <PathTempDec />
  <PathTempFw />
  <PathTempFw2 />
  <PathFw />
  <PathJava />
  <FileNameDec />
  <FileNameCom>hack</FileNameCom>
  <FileNameDexOdexOat />
  <FileNameSmali />
  <DropDownApkTool>apktool_2.5.0.jar</DropDownApkTool>
  <DwordX>64</DwordX>
  <DwordY>64</DwordY>
  <DwordXmx>1024</DwordXmx>
  <CheckBoxDecB>false</CheckBoxDecB>
  <CheckBoxDecF>true</CheckBoxDecF>
  <CheckBoxDecK>false</CheckBoxDecK>
  <CheckBoxDecM>false</CheckBoxDecM>
  <CheckBoxDecR>false</CheckBoxDecR>
  <CheckBoxDecS>false</CheckBoxDecS>
  <CheckBoxDecNC>false</CheckBoxDecNC>
  <CheckBoxDecOMC>true</CheckBoxDecOMC>
  <CheckBoxComC>false</CheckBoxComC>
  <CheckBoxComD>false</CheckBoxComD>
  <CheckBoxComF>true</CheckBoxComF>
  <CheckBoxComNC>false</CheckBoxComNC>
  <CheckBoxComAapt2>false</CheckBoxComAapt2>
  <CheckBoxZipF>false</CheckBoxZipF>
  <CheckBoxZipP>true</CheckBoxZipP>
  <CheckBoxZipZ>false</CheckBoxZipZ>
  <CheckBoxZipV>false</CheckBoxZipV>
  <CheckBoxShellExt>false</CheckBoxShellExt>
  <CheckBoxEnaLog>false</CheckBoxEnaLog>
  <CheckBoxUseJks>false</CheckBoxUseJks>
  <CheckBoxSignApk>true</CheckBoxSignApk>
  <CheckBoxInstallApk>false</CheckBoxInstallApk>
  <CheckBoxOverApk>false</CheckBoxOverApk>
  <CheckBoxZipAfterSign>true</CheckBoxZipAfterSign>
  <CheckBoxToolTips>false</CheckBoxToolTips>
  <CheckBoxChkUpdate>true</CheckBoxChkUpdate>
  <CheckBoxWinPos>false</CheckBoxWinPos>
  <CheckBoxRememberPass>false</CheckBoxRememberPass>
  <CheckBoxDisHistory>false</CheckBoxDisHistory>
  <CheckBoxDisComMsgBox>false</CheckBoxDisComMsgBox>
  <CheckBoxUseExtJava>false</CheckBoxUseExtJava>
  <CheckBoxReadApk>false</CheckBoxReadApk>
  <CheckBoxReplaceSpace>false</CheckBoxReplaceSpace>
  <AskToSetupDir>false</AskToSetupDir>
  <isSidedLogOpened>false</isSidedLogOpened>
  <isReset>false</isReset>
  <DecApiLvl />
  <ComApiLvl />
  <ReplaceWithSpace>false</ReplaceWithSpace>
  <CheckBoxTaskBar>true</CheckBoxTaskBar>
  <v2SigningEnabled>Default</v2SigningEnabled>
  <v3SigningEnabled>Default</v3SigningEnabled>
  <v4SigningEnabled>False</v4SigningEnabled>
  <Language>English (Default)</Language>
  <CheckBoxCodePage>false</CheckBoxCodePage>
  <CodePage>0</CodePage>
  <CheckBoxAapt>false</CheckBoxAapt>
  <CheckBoxUseJavaXmx>false</CheckBoxUseJavaXmx>
  <TextBoxAapt />
</APKEasyTool>